/* Site/index */

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media all and (max-width:1000px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width:700px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .contenedor div {
        margin: 0 auto;
    }
}

/* site/clasificaciones */
.carta {
    padding: 10px 20px;
}

.carta * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Site/productos */

.conjuntoProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

@media all and (max-width:1275px) {

    .conjuntoProductos {
        grid-template-columns: 1fr;
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }
}


/* Site/_productos*/

.producto {
    border: 4px solid lightblue;
    width: 600px;
    padding: 15px;
}

.producto>* {
    display: flex;
    justify-content: center;

}

.botonDetalles {
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.botonDetalles:hover {
    text-decoration: none;
    color: white;
}

/* SITE verproducto
*/
.tablaProducto {
    border-collapse: collapse;
    margin: 0 auto;
}

.tablaProducto td {
    border: 2px solid lightgreen;
    padding: 15px;
    text-align: center;
}

.tablaProducto td:first-child {
    font-weight: bold;
    text-align: center;
}

.tablaProducto td:nth-child(2) {
    width: 400px;
}